@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-300 text-gray-900 dark:text-gray-100;
  background-color: #fcfcfc;
}

.dark body {
  background-color: #131129;
}

.container {
  @apply flex flex-col items-center;
}

main button {
  @apply w-[6.125rem];
}

* {
  user-select: none;
}
